<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= page_title %></title>
    <meta name="author" content="Gregory Igelmund">

    <%= stylesheet_link_tag 'vendor/prism' %>
    <%= stylesheet_link_tag 'vendor/github-buttons' %>
    <%= stylesheet_link_tag 'vendor/bootstrap' %>
    <%= stylesheet_link_tag 'vendor/bootswatch' %>

    <%= stylesheet_link_tag 'bootstrap-customizations' %>
    <%= stylesheet_link_tag 'site' %>
    <link rel="icon" href="/images/favicon.icns" sizes="128x128">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  </head>

  <body class="<%= page_classes %> <%= current_page_dir %>">
    <%= partial 'layouts/navigation' %>
    <div class="container">
      <%= partial 'layouts/course_navigation' %>
      <div class="row">
        <div class="col-md-12 content">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'all' %>
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'HTW-Webtech/ai-ss-2016'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <style>
      /* Gitter style fix for top nav */
      .gitter-chat-embed {
        top: 80px;
      }

      body {
        padding-bottom: 50px;
      }
    </style>
  </body>
</html>
